@import "assets/styles/variables.scss";

.cart-screen {
    padding-top: 94px;
    text-align: center;
    height: 40vw;
    background: url("../../assets/images/card_bg.jpg") top center no-repeat;

    &__title {
        padding-top: 9vh;
        font-weight: 800;
        font-size: $fs-70;
    }


}