@import "assets/styles/variables.scss";

.cart-screen {
    text-align: center;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url("../../assets/images/card_bg.jpg") top center no-repeat;
        height: 350px;
        font-weight: 800;
        font-size: $fs-70;
        margin-bottom: 50px;
    }

    &__content {
        padding: 50px 0;
        background: rgba(253, 176, 45, 0.16);
        font-weight: 800;
        font-size: $fs-30;
    }
}