@import "assets/styles/variables.scss";

.not-found {
    background: url("../../assets/images/not_found_bg.jpg") left center/cover no-repeat;
    margin-bottom: 100px;

    &__wrapper {
        height: calc(100vh - 126px);
        display: flex;
        justify-content: end;
        align-items: center;
    }

    &__error-code {
        font-size: $fs-220;
        font-weight: 800;
        color: $color-light-mint;
        line-height: 175px;
    }

    &__error-title {
        font-weight: 800;
        font-size: $fs-70;
    }

    &__error-subtitle {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: $fs-18;
        line-height: 1.65;
        color: $color-dimgray;
        margin-bottom: 40px;
    }

    @media (max-width: $large-device-breakpoint) {
        &__wrapper {
            height: calc(100vh - 96px);
        }
    }

    @media (max-width: $medium-device-breakpoint) {
        background: $color-lightgray;

        &__wrapper {
            justify-content: center;
        }
    }

    @media (max-width: $small-device-breakpoint) {
        &__wrapper {
            height: calc(100vh - 66px);
        }
    }
}