@import "assets/styles/variables.scss";

.offer-cards {
    text-align: center;
    padding: 160px 0;
    text-align: left;
    background: $color-darkslategray;

    &__subtitle {
        font-family: 'Yellowtail';
        font-weight: 400;
        font-size: $fs-36;
        color: $color-dark-green;
    }

    &__title {
        font-weight: 800;
        font-size: $fs-50;
        color: $color-white;
        margin-bottom: 50px;
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        width: 100%;
        margin-bottom: 120px;
        margin-top: 40px;
    }
}