@import "assets/styles/variables.scss";

.gallery {
    padding: 126px 0;
    background: $color-mint-green;

    @media (max-width: $large-device-breakpoint) {
        padding: 96px 0;
    }

    @media (max-width: $small-device-breakpoint) {
        padding: 66px 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    @media (max-width: $medium-device-breakpoint) {
        &__wrapper {
            flex-direction: column;
        }
    }
}