@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail:wght@400&display=swap");
@import './assets/styles/variables.scss';

html,
body,
#root {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: $color-darkslategray;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

ul {
    list-style: none;
}

input,
button,
textarea,
select {
    border: none;
    font: inherit;
    outline: none;
}

button {
    cursor: pointer
}

a {
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

@media (max-width: $x-large-device-breakpoint) {
    body {
        font-size: 14px;
    }

    .container {
        max-width: 1140px;
    }
}

@media (max-width: $large-device-breakpoint) {
    body {
        font-size: 13px;
    }

    .container {
        max-width: 960px;
    }
}

@media (max-width: $medium-device-breakpoint) {
    body {
        font-size: 12px;
    }

    .container {
        max-width: 720px;
    }
}

@media (max-width: $small-device-breakpoint) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 0 30px;
    }
}

@media (max-width: $x-small-device-breakpoint) {
    body {
        font-size: 12px;
    }

    .container {
        padding: 0 10px;
    }
}