@import "assets/styles/variables.scss";

.thank-you {
    text-align: center;
    margin-bottom: 100px;

    &__img {
        background: url("../../assets/images/thank_you_bg.jpg") center center/cover no-repeat;
        height: 40vw;
    }

    &__title {
        font-weight: 800;
        font-size: $fs-70;
        margin: 50px 0;
    }

    @media (max-width: $small-device-breakpoint) {
        margin-bottom: 50px;

        &__title {
            font-size: $fs-50;
        }
    }

    @media (max-width: $x-small-device-breakpoint) {
        margin-bottom: 20px;

        &__title {
            font-size: $fs-36;
        }
    }
}