/* fonts */
$font-roboto: Roboto;
$font-yellowtail: Yellowtail;
$font-open-sans: "Open Sans";

/* font sizes */
$fs-15: 0.94rem;
$fs-18: 1.125rem;
$fs-19: 1.19rem;
$fs-20: 1.25rem;
$fs-25: 1.56rem;
$fs-30: 1.875rem;
$fs-36: 2.25rem;
$fs-38: 2.375rem;
$fs-40: 2.5rem;
$fs-50: 3.125rem;
$fs-70: 4.375rem;

/* Colors */
$color-white: #fff;
$color-darkslategray: #274c5b;
$color-khaki: #efd372;
$color-dark-green: #7eb693;
$color-ligth-green: #EFF6F1;
$color-gray: #e0e0e0;
$color-whitesmoke: #f9f8f8;
$color-silver: #b8b8b8;
$color-dimgray: #525c60;
$color-lightgray: #d4d4d4;
